<html>
<head>
</head>
<body>
<h1>Click on the button below to choose a medical insurance.</h1>
<form action="/policies" method="POST" enctype="multipart/form-data">
    <input type="file" name="file">
    <button type="submit">Choose Policy</button>
    <!DOCTYPE html>
    <label for="dropdown">Select a Fruit:</label>
    <select id="dropdown" name="fruits">
        <option value="apple">Apple</option>
        <option value="banana">Banana</option>
        <option value="cherry">Cherry</option>
        <option value="date">Date</option>
        <option value="grape">Grape</option>
    </select>
</form>
    </body>
    </html>

</form>